@import 'admin-lte/dist/css/adminlte.min.css';
@import 'toastr/build/toastr.min.css';

/* toastr custom css start */
#toast-container > .toast {
    opacity: 1;
}

#toast-container > .toast-success {
    background-color: #198754;
}

#toast-container > .toast-error {
    background-color: #dc3545;
}

#toast-container > .toast-warning {
    background-color: #ffc107;
    color: #000;
}

#toast-container > .toast-info {
    background-color: #0dcaf0;
    color: #000;
}
/* toastr custom css end */

